<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>确认授权页面</title>
</head>
<body>
    <h1>授权确认</h1>
    <p>Do you authorize </p><p style="color: #888888" th:text="${scope}">客户端</p>
    <p>to access your protected resources?</p>

    <form id="confirmationForm" name="confirmationForm" action="/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="true" type="hidden"/>
        <label><input name="authorize" value="Authorize" type="submit"/></label>
    </form>

    <form id="denialForm" name="denialForm" action="/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="false" type="hidden"/>
        <label><input name="deny" value="Deny" type="submit"/></label>
    </form>
</body>
</html>